version: "3"

services:
  db:
    image: postgres:16
    restart: always
    environment:
      POSTGRES_USER: user123
      POSTGRES_PASSWORD: password123
      POSTGRES_DB: db123
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

  app:
    build: .
    ports:
      - "13000:3000"
    depends_on:
      - db
    environment:
      DATABASE_URL: postgres://user123:password123@db:5432/db123

volumes:
  db_data:
